<div class="menu_block">
			<div class="container_12">
				<div class="grid_12">
					<nav class="horizontal-nav full-width horizontalNav-notprocessed">
						<ul class="sf-menu">
							<li class="current"><a href="/home">Ana Menü</a></li>
							<li><a href="/hakkimizda">Hakkimizda</a></li>
							<li><a href="/kisiler">Kişiler</a></li>
							<li><a href="/profil">Profil</a></li>
							<li><a href="/iletisim">İletişim</a></li>
                            <div class="myAccountHolder customMenuItem withLocalization" style="">
                        </div>
						</ul>
					</nav>
					<div class="clear"></div>
				</div>
				<div class="clear"></div>
			</div>
		</div>
		<div class="main">


<div class="content"><div class="ic">More Website Templates @ TemplateMonster.com - December 30, 2013!</div>
				<div class="container_12">

                    {% load static %}
					<div class="grid_6">
						<div class="p1_box left cl2">
							<div class=""></div>
							<img src="{% static 'images/alberteinstein.jpg'%}" alt="">
							<a href="index-2.html" class="bot">Albert Einstein</a>
                        </div>

						<div class="p1_box left cl2 pos1">
							<div class=""></div>
							<img src="{% static 'images/galileo.jpg'%}" alt="">
							<a href="index-2.html" class="bot">Galileo Galilei</a>
						</div>
						<div class="p1_box left cl2 pos1">
							<div class=""></div>
							<img src="{% static 'images/alikuscu.jpg'%}" alt="">
							<a href="index-3.html" class="bot">Ali Kuşcu</a>
						</div>
					</div>
					<div class="grid_6">
						<div class="p1_box right cl2">
							<div class=""></div>
							<img src="{% static 'images/Cahitarf.jpg'%}" alt="" height="400">
							<a href="index-2.html" class="bot" >Cahit Arf</a>
						</div>
						<div class="p1_box right cl2">
							<div class=""></div>
							<img src="{% static 'images/ibnisina.jpg'%}" alt="" >
							<a href="index-3.html" class="bot">İbni Sina</a>
						</div>



					</div>


					<div class="clear"></div>

					<div class="grid_12">
						<a href="#" class="round"> başa dön </a>
					</div>
				</div>
            </div>
            </div>

