<div class="main">
<header>
    {% load static %}
				<div class="clear"></div>
				<div class="container_12">

					<div class="grid_12">

							<a href="/home" style="">
                                <img style="display: block;margin-right:auto;margin-left: auto" src= "{% static 'images/baslikLogo.png'%}" alt= "" width="600" height="250">

							</a>
                        <div class="myAccountNotLogin">
                            {% if user.id is not None %}
        <div class="myAccount" style="float: right; color:black" >
            <h3><a href="#" rel="nofollow" title="HESABIM" class="menuTitle nobg">{{ user.first_name }}</a></h3>
            <div class="loginStatus clearfix">
             <h3><b><a href="/logout" class="text_uppercase" title="Giriş Yap" style="float: right">Çikiş Yap</a></b></h3>
            {% else %}
                <h3><b><a href="/login/" class="text_uppercase" title="Üye Ol" style="float: right">Giriş Yap</a></b></h3>

            {% endif %}
            </div>

        </div>
    </div>

					</div>
				</div>
			</header>

    </div>